services:
  jellyfin-encoder:
    image: drumsergio/jellyfin-encoder:latest
    container_name: jellyfin-encoder
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - /source:/app/source
      - /dest:/app/destination
    environment:
      ENABLE_HW_ACCEL: "true"
      HW_ENCODING_TYPE: "intel"
      ENCODING_QUALITY: "LOW"
      SOURCE_FOLDER: "/app/source"
      DEST_FOLDER: "/app/destination"
      ENCODING_CODEC: "hevc"
    restart: always
    # For NVIDIA GPU support, uncomment below:
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - capabilities: [gpu]